 .boxContact{
  border: 3px solid black;
  border-radius: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .wrapper{
  padding: 0 15px;
 }
 .button{
  margin: 0 15px 0 0;
  height: 40px;
  width: 120px;
  font-size:larger;
  
 }
 .icon{
  margin: 0 5px 0 0;
 }
 /* .boxContact{
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
} 

.wrapper{
  margin-left: 20px;
} */
